.gradient-circle {
    background: conic-gradient(
            #BAE7A8 0%,
            #BAE7A8 25%,
            #4E78D7 25%,
            #4E78D7 50%,
            #C75B80 50%,
            #C75B80 75%,
            #4E78D7 75%,
            #4E78D7 100%
    );
    height: calc(320px * 2);
    width: calc(320px * 2);
    position: absolute;
    top: calc(-10px * 2);
    left: calc(-10px * 2);
    z-index: -2;
    border-radius: 50%;
}

#pointer-container {
    position: absolute;
    top: calc(-40px * 2);
    left: calc(140px * 2);
    width: calc(20px * 2);
    height: calc(190px * 2);
    animation: rotate 16s linear forwards infinite;
    animation-play-state: paused;
    transform-origin: bottom center;
}

.container.grow {
    animation: grow 4s linear forwards;
}

.container.shrink {
    animation: shrink 4s linear forwards;
}

/** media queries **/

/** desktop and laptops **/
@media only screen and (min-width: 992px) {
    .gradient-circle {
        height: 320px;
        width: 320px;
        top: -10px;
        left: -10px;
    }

    #pointer-container {
        top: -40px;
        left: 140px;
        width: 20px;
        height: 190px;    
    }
}

/** tablets **/
@media only screen and (min-width: 600px) {
    .gradient-circle {
        height: 480px;
        width: 480px;
        top: -15px;
        left: -15px;
    }

    #pointer-container {
        top: -60px;
        left: 210px;
        width: 30px;
        height: 285px;    
    }    
}